<% title 'Articles' %>
<% description 'Learn to have better meetings'%>

<%= content_for :sidebar do %>
    <h2 class="page-title">Articles</h2>
    <ul class="nav-inside">
      <li><a class="active" href="/articles/how_to_make_a_meeting_agenda">How to Create a Great Meeting Agenda</a></li>
      <li><a href="/articles/How_to_run_an_effective_meeting">How to Run an Effective Meeting</a></li>
    </ul>
<% end %>
<div class="articles">
<h3>How to Create a Great Meeting Agenda</h3>
<p>
  A clear agenda improves the efficiency and effectiveness of all meetings,
  yet it is an overlooked aspect. Preparing a superior agenda is similar to
  preparing for an examination. The exam becomes the main event, and without
  proper preparation, failure is inevitable. A meeting with unclear and
  unprepared goals will result to time wastage. The only diversity is that
  preparing the agenda of a meeting requires less time as that of preparing
  for an exam.
  <br />
  <br />

  Simple meetings can never be successful without an agenda. These small
  meetings are extremely straightforward, its participants are directly
  involved and thus its results are clear decisions. Meetings are ineffective
  when their aim is not straight forward and this often happens. Without
  accurate communication prior to the meeting, several participants will
  wonder if they are part of the meeting. Invitees might possess a diverse
  understanding of the goals of the meeting; is it for brainstorming or is
  it for decision making.
  <br />
  <br />

  Narrowing the focus of the meeting, defining topics of discussion
  and not allowing for interference is imperative. Participants lack
  the chance of preparing or thinking of the spontaneous subjects that
  result in useless discussions that will require inadvertent reopening
  during the next session. Sticking to the agenda and creating a new items
  section will help them to be remembered during the subsequent meeting.
  <br />
  <br />

  The agenda of the meeting dictates its participants, dates, the length
  the meeting will last and its location. Getting the decision makers and
  major players involved in the decision making process and discussions is
  extremely essential. Not including the right individuals will make them
  feel bypassed and frustrated. This will de-motivate them from working
  towards the execution of the plan. Adversely, inviting individuals with
  nothing to do with the fastidious subject; you will be hurting their morale
  and wasting their time as well.  It may be unreliable but coming up with
  meetings agenda will profoundly affect the culture of your organization.
  <br />
  <br />
  Duration and timing are also imperative. Ensure participants have
  sufficient time for preparing for the meeting, inclusive of them
  possessing the capability of proposing own items of agenda and limiting
  the time to be spent in the meeting. Setting a time limit for every
  topic and the entire meeting is useful. Discussions with similar repeated
  arguments are the worst that can take place in a meeting. Ensure that
  participants of the meeting leave the meeting feeling that their time
  was utilized to the fullest. A waste of time for attendees will negatively
  affect the culture of the organization negatively.
  <br />
  <br />
  The actual agenda comprises of all agenda items and topics. It limits
  what is to be discussed in the subsequent meeting and their length.
  It helps in keeping the focus of the participants. In more formal
  series of meetings, it is customary to approve meeting minutes for
  easy updating of events from previous meetings. Reading the minutes
  of former meetings will confirm that all things are alright and
  provide the team with an accomplishment sense.
  <br />
  <br />
  This feeling positively influences your organization’s culture.
  When putting additional topics on your agenda, ensure that they
  relate and are relevant to every participant. If not, consider
  splitting it into several meetings by inviting relevant individuals t
  o solve matters at hand. This helps in keeping all people motivated
  and engaged.. To ensure maximum commitment and to further an actual
  team culture, the participants of the meeting need to propose their
  topics relating to the main agenda.
  <br />
  <br />
  The last piece is the accessibility and availability of the meeting
  minutes and other supporting materials. This includes financial reports,
  incoming emails and advertising materials. These materials need to be in
  place in advance for the participants to possess enough time to discuss
  them. With all things in place, preparation will lead to a definite success
  resulting from a superior meeting. With the right documentation, your meeting
  will deliver positive results thus improving your organization’s culture.

</p>

</div>