<% title 'Articles' %>
<% description 'Learn to have better meetings'%>

<%= content_for :sidebar do %>
    <h2 class="page-title">Articles</h2>
    <ul class="nav-inside">
      <li><a href="/articles/how_to_make_a_meeting_agenda">How to Create a Great Meeting Agenda</a></li>
      <li><a href="/articles/How_to_run_an_effective_meeting">How to Run an Effective Meeting</a></li>
    </ul>
<% end %>

<p>
  Welcome to the Articles Directory.  Please browse our articles for some helpful tips.
</p>