<% title 'Articles' %>
<% set_meta_tags :description =>  'Learn to have better meetings'%>

<%= content_for :sidebar do %>
    <h2 class="page-title">Articles</h2>
    <ul class="nav-inside">
      <li><a class="active" href="#">How to make an Agenda</a></li>
      <li><a href="#">10 ways to have an effective meeting</a></li>
      <li><a href="#">Why are meeting minutes so important?</a></li>
    </ul>
<% end %>

<p>
  Welcome to the articles Directory.  Please browse our articles for some helpful tips.
</p>