<% title 'Articles' %>
<% description 'Learn to have better meetings'%>
<div class="hero-unit">

<ul>
  <li><a href="/what_is_a_meeting_agenda">What is a Meeting Agenda</a></li>
  <li><a href="/how_to_run_an_effective_meeting">How to Run an Effective Meeting</a></li>
  <li><a href="/how_to_make_a_meeting_agenda">How to Create a Great Meeting Agenda</a></li>
  <li><a href="/why_take_meeting_minutes">Why it is important to take meeting minutes</a></li>
  <li><a href="/important_aspects_to_consider_for_meeting">3 important aspects to consider when holding a meeting</a></li>
</ul>
</div>