<% title 'Running an effective meeting takes practice' %>
<% description 'A detailed guide to running an effective meeting to get results'%>
<div class="article hero-unit">

  <h1>How to run an effective meeting</h1>
  <br />
  <p>
    Keeping the focus of every individual is the biggest problem in the
    occasion of holding meetings. This comes in when the subject is not
    interesting and when the length is unpredictable. For maximum achievement
    of effectiveness, all people need to focus on the agenda of the meeting
    when in session. The simplest method of keeping the attention of all
    people is through keeping the meeting efficient and short. This will
    assist all daydreamers to focus.
    <br />
    <br />

    There are several things that can be done to facilitate a meeting’s
    sweetness. Sending the previous meeting’s minutes in advance of the
    current meeting will create a basis of holding an extremely short meeting.
    Including the agenda will be useful too. Including a 15 minute break in a
    meeting that has to go for more than one hour is imperative. Informing the
    attendees of what is expected of them will be vital for they will come when
    prepared. When reviewing and commenting, sending a prior copy of the
    same will save time immensely since they will come to the meeting
    knowing the contents of the document.
    <br />
    <br />

    Delegating the meeting’s chairmanship to one of these attendees will
    be an option to consider. This will help in selecting the right
    individuals to tackle the toughest problems. This is a perfect way of
    coming up with suitable approaches of fixing certain issues. The beginning and
    ending times of the meeting require to be stated in the agenda for planning ahead.
    <br />
    <br />

    Meeting minutes written here will help in outlining the pending issues.
    This will assist in scheduling for yet another meeting to discuss the
    pending issues. Many individuals hate attending meetings because they
    lack efficiency and thus wastes so much time. Even with these facts in
    place a number of organizations and companies hold meetings. These meetings,
    however, requires to be effective. There are a number of basic rules that
    can assist in ensuring that your meetings have effectiveness and are result
    oriented. Establishing objectives and goals of the meetings is the first step.
    <br />
    <br />
    All individuals require clarity in understanding the accomplishments that
    result from the meeting. Meetings possess a wide range of aims and purposes.
    They may be simply for communicating information to the attendees. This includes
    enhancing teamwork through developing strategies and goals for your organization.
    Once the agenda of the meeting is outlined, selecting participants will be the next
    step. Getting into a meeting that will teach you nothing is useless. Selecting
    the appropriate location and structure for the meeting is important. Having a
    facilitator to write the minutes of the meeting will help in keeping all
    attendees on track.
    <br />
    <br />
    This is best done by shifting facilitators of the meetings. When locations
    come in, there exist a number of distractions on some sites that cannot
    generate the required result from a meeting. A vital ground rule of holding
    an effective meeting is setting the exact time it needs to take. Sometimes
    this is a trial and error practice but with time, the meeting will fit into
    the appropriate time limits. A meeting that starts at the legit time will
    ensure comfortable following of the agenda. Lateness requires having consequences
    from the facilitator of the meeting. The attendees or team members need to
    decide on the consequence of lateness.
    <br />
    <br />
    An advance agenda will assist in telling the attendees of the things to be
    discussed. This will also assist the secretary in preparing for writing
    meeting minutes. The responsibility of distributing the agenda is in the
    hands of the facilitator of the meeting. The facilitator should also be
    bold enough to stick to the agenda items and give no room for other items.
    This will assist in completing the important pieces of the meeting before
    embarking on other items.
    <br />
    <br />
    Creating a provision for the non-agenda items will be towards the end
    of the meeting when everything else is handled. This will include
    determining the individuals that can take part in these issues. The
    meeting can now conclude by agreeing on the place and time of the
    subsequent meeting. The meeting minutes can be distributed few moments
    after the meeting.

  </p>
  <br />
  <br />


  <%= render :partial => "agenda_samples/new" %>
</div>
