<% title '3 important aspects to consider when holding a meeting' %>
<% description 'Having the right place, time, and attendees for a meeting is crucial for the meetings success'%>
<div class="article hero-unit">
  <h1>3 important aspects to consider when holding a meeting</h1>
  <br />
  <p>
    Meetings are habitually appalling. They are, in most cases the
    most disliked moments in modern organizations. As estimation,
    the number of meetings held in America daily range amid 11 and 25
    million daily. When you are in the mood of calling for a meeting, don’t.
    First, determine these factors before calling for it.
  </p>

  <h3>
    Place
  </h3>
  <p>
    The venue of the meeting will matter a great deal. It will superbly
    enhance the focus and attention the attendees will have. Taking a meeting
    in the bar for discussing the business of the organization will not work.
    Taking serious meetings that involve decision making to the appropriate
    places assists in determining the outcome of the meeting. Every meeting
    requires to be held in a quiet environment to allow for thinking and generation
    of ideas.
  </p>
  <p>
    Getting the right venue for the meeting helps the attendees to understand
    the tangible and definite purpose of the meeting, and the clarity of its intended
    results. Meetings in serene places are mainly for managers and in most cases are
    crucial for decision making.
  </p>
  <h3>
    Time
  </h3>
  <p>
    The timing for every meeting is extremely crucial for managing the attendees' attention. If the meeting is to take place in the morning for 20 minutes, make sure that all the attendees are informed in advance. Most vital meetings need to be held in the middle of the week. On Mondays and Fridays, meetings can be useless because of the weekend hangovers and welcoming of the forthcoming weekend. Knowing this will be vital. Carrying out a meeting in during morning hours will also be useless because a number of these attendees will be setting their workstations for the day.
  </p>
  <p>
    Most important is that the meeting needs to start on time. Getting late comers to miss some aspects will improve their time of attending meetings. This will also help the attendees to get the required information quickly. Starting early will tune attendees to your mode of handling matters. Having accurate timelines for the meetings will also schedule some time for discussing AOBs, if need be.
  </p>

  <p>
    Timing all activities of a meeting will avail the time for discussing raising matters that result from technical and tactical points of view. There might come occasions when such considerations can be ignored.  However, it is vital to create some time to cater for these issues for they may be vital to the existence and functioning of the business.
  </p>
  <h3>
    Attendees
  </h3>
  <p>
    Who attends? When selecting the individuals to invite to a meeting, do not just choose because they usually attend. An investigation will have to be put in place on the occasion some people will be attending meetings as a result of their positions. Managers with the habit of getting to junior staff members for briefing before a meeting and briefing them subsequent to the meeting ought to be phenomenal.
  </p>
  <p>
    Getting the right individuals into the meeting without respecting positions will be crucial. People need not to be always attending meetings. Coming up with a schedule of the attendance and assigning agenda items to every individual will serve superiorly. It will be useless being in a long meeting just waiting for your turn then the meeting becomes postponed inevitably.
  </p>
  <p>
    As the facilitator of these meetings, you require diverse approaches when holding the meetings so as to make the attendees alert and focused. Having meetings without chairs, without coffee on a Monday morning will make the attendees superior. These meetings will go for nearly ten minutes and the eloquence of individuals will matter a great deal.
  </p>
  <p>
    Having creative meetings will become useful and full of fun for the attendees. The caliber of attendees will also determine the kind of content to be discussed. There will be a difference in the content of managers' meetings and general workers' meetings. All in all, these meetings will provide an avenue with which individuals will assimilate info and break for voting and presentations.
  </p>
  <br />
  <br />

  <%= render :partial => "agenda_samples/new" %>
</div>
