<div class="span8 offset1 fluid hero-unit">
<h1>We're Launching Soon</h1>

We will notify you when we launch, it wont be too long now...

  <%= button_to "Get on the list!", "http://eepurl.com/mlKDL" , class: "btn btn-large btn-success" %>

</div>



