<% title 'What is a meeting agenda' %>
<% description 'Learn how to make a meeting agenda using a meeting agenda template'%>
<div class="article hero-unit">
<h1>What is a Meeting Agenda?</h1>
<br />

<p>
  A meeting agenda can be seen as a guidance mechanism for a meeting
  or other gathering.  Agendas are most often used in for profit and
  non-profit businesses as well as governments.  They also have values
  as a tool to guide group discussions, church council meetings and other
  special events.
</p>
<p>

  I have found agendas to be effective in saving time and lessening
  the need for future meetings.   If you keep to an agenda in your
  next meeting, you are almost guaranteed to get more accomplished
  and not need another meeting as soon as you otherwise would.  The
  best way to create an agenda for your next meeting is to use a sample
  agenda template.  An agenda template provides a rough outline and format
  for a meeting so you only need to fill in the blanks in most cases to
  get great results in your next meeting or council session.
</p>
<p>
  A great add-on to creating and using an agenda in you next meeting is
  to take meeting minutes.  Meeting minutes can be an effective too in
  following up on meeting action points and recording decisions.  We
  recommend using a meeting minutes template when taking minutes to
  lesson the time consumed in formatting the meeting minutes.
</p>

  <h3>An effective meeting agenda is comprised of 4 points:</h3>
  <br />

<ol class="article-points">


  <li>	<em>Heading:</em>  The heading is the area of the agenda that specifies
  the meeting time, place, attendees, coordinators, minutes taker,
  and other clarifications regarding the meeting in general such
  as the subject or overall meeting topic. </li>


  <li>	<em>Follow-up:</em>   The follow-up portion of a meeting agenda is
  just that.  It’s a few, usually less than 5 items to follow-up on
  from the last meeting.  Each point should take less than 5 minutes
  to conclude or it needs to be moved to the discussion portion of
  the agenda. </li>


  <li>	<em>Discussion:</em> The discussion portion of a meeting agenda usually
  takes the bulk of the meeting to finish.  Each discussion point should
  be 1 to 2 sentences and on points that are familiar to the team so to
  limit the time it takes to bring an individual up to speed on a certain
  topic.  Each discussion point should either result in a decision an action
  point to be carried out and reviewed in the future.</li>

  <li>	<em>Conclusion:</em>   The conclusion area of a meeting agenda is usually used
  to announce upcoming events, do team building activities and other company
  centric activities.</li>

</ol>
<br />
<br />

  <%= render :partial => "agenda_samples/new" %>
</div>




