<% title 'Why you should take meeting minutes' %>
<% description 'The reasons for taking meeting minutes and using a meeting minutes template'%>
<div class="article hero-unit">
  <h1>Why is it important to take meeting minutes?</h1>
  <br />
  <p>
    Meetings with minutes that are well documented are more efficient and effective than meeting without minutes. This is because decisions in such meetings get into the records. Activity items and the individuals responsible for them are allocated. Key rudiments are discussed for the sake of those who miss out. People that miss meetings can easily figure out what happened by reading these minutes. Taking minutes grows one's reputation of carrying out immense meetings.
  </p>
  <p>
    Every individual in the meeting posses his or her own perspectives of the occurrences and decisions made. By recording decisions and publishing them as part of minutes, there remains one official version of decision making which may be misunderstood in the future. Minute taking forms clarity about things to agree on. To ensure the accuracy of these notes in the event of unclear discussions, the secretary asks clarifying questions. This makes sure the participants adjourn the meeting with a similar understanding.
  </p>
  <p>
    Recording action items that have been agreed in the meeting is vital for groups that meet regularly. The review of items from preceding meetings is imperative for easing the understanding of roles. This review provides the team with incentives for getting tasks to be done before the meeting.
  </p>
  <p>
    In some occasions, like for wide meetings, the bylaws of the group have minutes as a requirement. This can be treated as a legal document for purposes of auditing. This kind of organizations will designate this job to the secretary who will record details of all meetings. Assigning a secretary to all meetings will enhance the accuracy of the minutes. Participating actively and taking notes in a meeting is extremely challenging, so it is best for facilitators of meetings to request another individual to take the minutes.
   </p>
  <p>
    The note taker requires to record discussions, action items and decisions that are in the meeting clearly, but concisely. There are diverse writing styles in minutes writing. Board meetings require legal and official documentation. Only key info inclusive of the attendees and rulings are included in the minutes. These minutes do not put into consideration discussions that led to final motion decisions.
  </p>
  <p>
    However, in meetings of businesses, recording key points is more effective. Recording these points is essential for individuals who did not attend. Minutes gives a meeting an imperative image. It helps in identifying milestones and assigning responsibilities.
  </p>
  <p>
    Minute taking requires skills because the taker requires following seemingly inarticulate and confusing debates and coming up with accurate summaries. After checking and confirming the accuracy of minutes, all the attendees will have a copy of the same minutes. Sending a mail of these minutes to all attendees will be essential for saving the outcomes and procedures that have taken place in the meeting.
  </p>



  <br />
  <br />

  <%= render :partial => "agenda_samples/new" %>
</div>
