<%= simple_form_for(@meeting_minutes_email) do |f| %>
  <%= f.error_notification %>
<form class="form-inline">
  <div >
    <%= f.input :address %>
  </div>

  <div>
    <%= f.button :submit %>
  </div>
</form>
<% end %>
