<% title 'About Us' %>
<% description 'A bit about us'%>



<div>

 <h2 class="page-title">About Us</h2>
  <p>
    Meetingfix.com was originally founded
    as a single person company in Mesa, Arizona on December 2011
  </p>
  <br />
  <p>
    We are currently collecting the contact information for potential customers
    that will benefit from effective meetings using time saving application to prepare for,
    track , and followup on meeting topics.
  </p>

  <h2>Founder</h2>



  <h4>David Marble</h4>
  <p>
    An experienced Business Owner, Project Manager, and Procurement Professional.
    David bootstrapped Meetingfix while working full-time.  He has spent far too
    many hours in ineffective or wasteful meetings.  He set out to make it easy to
    prepare well for meetings, take meaningful notes, follow-up on meeting action point,
    and reduce the need for duplicate meetings.
  </p>

</div>