<% title 'Contact Us' %>
<% description 'Get in touch with Meetingfix if you have any questions' %>



<div class="center hero-unit">
  <
  <p>
    Contact MeetingFix

    Have a question about MeetingFix or
    your account? Feel free to send an
    e-mail to david@meetingfix.com.


  </p>

</div>