<% title 'Pricing' %>
<% description 'See pricing for Meetingfix and sign up to
streamline your next meeting' %>



<h2 class="page-title">Pricing</h2>
<div class="center hero-unit">
  <table class="table table-striped">
    <tr>
      <td>
        <h4>Monthly Subscriptions</h4>
      </td>
      <td>
        <h3>$9.95 </h3>
      </td>
      <td>
        <h3>$19.95</h3>
      </td>
      <td>
        <h3>$39.95</h3>
      </td>
      <td>
        <h3>$69.95</h3>
      </td>
    </tr>
    <tr>
      <td>
        <h4>Number of Users</h4>
      </td>
      <td>
        <h3>Single User</h3>
      </td>
      <td>
        <h5>2-5 Users</h5>
      </td>
      <td>
        <h5>6-15 User</h5>
      </td>
      <td>
        <h5>15+ Users</h5>
      </td>
    </tr>
    <tr>
      <td>
        <h4>Unlimited Agendas</h4>
      </td>
      <td>
        <p class="pricing"> &#9679;</p>
      </td>
      <td>
        <p class="pricing"> &#9679;</p>
      </td>
      <td>
        <p class="pricing"> &#9679;</p>
      </td>
      <td>
        <p class="pricing"> &#9679;</p>
      </td>
    </tr>
    <tr>
      <td>
        <h4>Meeting Minutes</h4>
      </td>
      <td>
        <p class="pricing"> &#9679;</p>
      </td>
      <td>
        <p class="pricing"> &#9679;</p>
      </td>
      <td>
        <p class="pricing"> &#9679;</p>
      </td>
      <td>
        <p class="pricing"> &#9679;</p>
      </td>
    </tr>
    <tr>
      <td>
        <h4>Track Meeting Results</h4>
      </td>
      <td>
        <p class="pricing"> &#9679;</p>
      </td>
      <td>
        <p class="pricing"> &#9679;</p>
      </td>
      <td>
        <p class="pricing"> &#9679;</p>
      </td>
      <td>
        <p class="pricing"> &#9679;</p>
      </td>
    </tr>
    <tr>
      <td>
        <h4>Automatically Prepare Follow-up Emails</h4>
      </td>
      <td>
        <p class="pricing"> &#9679;</p>
      </td>
      <td>
        <p class="pricing"> &#9679;</p>
      </td>
      <td>
        <p class="pricing"> &#9679;</p>
      </td>
      <td>
        <p class="pricing"> &#9679;</p>
      </td>
    </tr>
    <tr>
      <td>
        <h4>Integrate with Google Calendar and Outlook Calendar</h4>
      </td>
      <td>
        <p class="pricing"> &#9679;</p>
      </td>
      <td>
        <p class="pricing"> &#9679;</p>
      </td>
      <td>
        <p class="pricing"> &#9679;</p>
      </td>
      <td>
        <p class="pricing"> &#9679;</p>
      </td>
    </tr>













  </table>

</div>

