
<% title 'Agenda Templates' %>

<% description 'Agenda Template, create a great agenda in five minutes' %>

<div class="hero-unit center">
  <h1>Agenda Templates</h1>
  <h2>
    Writing effective meeting agendas takes practice.
    Check out a couple of agenda templates to get an
    idea how you should structure your content to give
    you the best chance of having an effective meeting.
  </h2>

  <br />

  <h2>
    Get A FREE Agenda Template ($83 value):

<%= simple_form_for(@agenda_sample) do |f| %>
    <%= f.error_notification %>

    <div class="well form-vertical">
      <%= f.input :email, :placeholder =>  'Your Email:', :label =>"Don't worry, we hate spam too!" %>
      <button type="submit" class="btn">SEND IT TO ME</button>
    </div>
<% end %>


<%= link_to 'Back', root_path %>

  </h2>
</div>
