<% title 'Meeting Minutes Templates' %>
<% description 'Meeting Minutes Templates, Get better results from
 your next meeting by recording meeting minutes' %>




<div class="hero-unit center">
  <h1>Meeting Minutes Templates</h1>
  <h2>
    Taking great meeting minutes takes practice.
    Check out a couple of our meeting minutes templates to get an
    idea how you should structure your content to give
    you the best chance of having great results from your meeting.
  </h2>

  <br />

  <h2>
    Get a FREE Meeting Minutes Template ($83 value):

<%= simple_form_for(@minutes_sample) do |f| %>
    <%= f.error_notification %>

    <div class="well form-vertical">
      <%= f.input :email, :placeholder =>  'Your Email:', :label =>"Don't worry, we hate spam too!"  %>



      <button type="submit" class="btn">SEND IT TO ME</button>
    </div>
<% end %>


<%= link_to 'Back', root_path %>


  </h2>
</div>
