@import "base";

.formtastic {
  .label {
    background: none;
    color: $form-label-text;
    text-align: left;
    float: inherit !important; }
  .fragments label, .choices label {
    position: relative !important; }
  li {
    border: 1px solid $white !important; }
  input, textarea {
    padding: 10px !important; }
  .inline-errors {
    margin: 0 !important; }
  .boolean label, .choices-group {
    padding-left: 0 !important; }
  .choices .label {
    position: relative !important; }
  .buttons, .actions {
    padding-left: 0 !important;
    margin-bottom: 15px !important; }
  .button.commit {
    background: transparent; }
  .button_action button {
    padding: 3px 8px;
    cursor: pointer; }
  .inline-hints {
    color: $form-hint-text;
    font-size: 11px;
    font-style: italic;
    margin: 0 !important; } }
