<footer class="footer">
  <small>
    &copy 2012 meetingfix.com   All Rights Reserved
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Agenda Templates", agenda_templates_path %></li>
      <li><%= link_to "Meeting Minutes Templates", meeting_minutes_templates_path %></li>
    </ul>
  </nav>
</footer>